@font-face {
    font-family: Bai Jamjuree-Bold;
    src: url("../assets//font/BaiJamjuree-Bold.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Bai Jamjuree-Medium;
    src: url("../assets//font/BaiJamjuree-Medium.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Inter;
    src: url("../assets//font/BaiJamjuree-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Bai Jamjuree;
    src: url("../assets//font/BaiJamjuree-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Bai Jamjuree-Regular;
    src: url("../assets//font/BaiJamjuree-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Bai Jamjuree-SemiBold;
    src: url("../assets//font/BaiJamjuree-SemiBold.ttf");
    font-weight: normal;
    font-style: normal;
}