@font-face {
    font-family: 'Bai Jamjuree';
    src: url("/font/BaiJamjuree-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Space Ranger';
    src: url("/font/spaceranger-3.ttf");
    font-weight: normal;
    font-style: normal;
}