.ComingSoon {
    width: 100%;
    height: 100%;
    padding: 0 18px;
    padding-top: 170px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
        width: 393px;
        font-size: 15px;
        font-family: Inter, Inter;
        font-weight: 500;
        color: #666666;
        line-height: 18px;
        text-align: center;

        a {
            color: #569AFF;
            text-decoration: underline;
        }
    }

    .img_wrap {
        width: 396px;
        height: 396px;
        border-radius: 16px 16px 16px 16px;
        overflow: hidden;
        margin-top: 24px;

        img {
            width: 100%;
        }
    }

    .btn {
        width: 396px;
        height: 48px;
        background: #A6AAAD;
        border-radius: 34px 34px 34px 34px;
        display: flex;
        align-items: center;
        justify-content: center;

        font-size: 20px;
        font-family: Inter, Inter;
        font-weight: 500;
        color: #FFFFFF;
        margin-top: 24px;
    }
}